{% block content %}
    {% if header is defined %}
        <div style="margin-bottom: 10px">
            {{ header }}
        </div>
    {% endif %}
    <table style="text-align: left; border-collapse: collapse; width: 100%">
        {% if caption is defined %}
            <caption style="padding: 5px; text-align: left; font-weight: bold">{{ caption }}</caption>
        {% endif %}
        {% if columns is defined %}
            <thead style="vertical-align: top; border-top: 1px solid #000">
                <tr style="padding: 5px; border-top: 1px solid #000; border-bottom: 1px solid #000">
                {% for key, value in columns.items() %}
                    {% if value != '0' %}
                        <th scope="col" style="padding: 5px">{{ value }}</th>
                    {% endif %}
                {% endfor %}
                </tr>
            </thead>
        {% endif %}
        {% if rows is defined %}
            <tbody style="vertical-align: top">
                {% for row in rows %}
                <tr style="padding: 5px; text-align: left; border-bottom: 1px solid #333">
                    {% for key, value in columns.items() %}
                        {% if value != '0' %}
                            {% if row[value] %}
                                <td style="padding: 5px">{{ row[value] }}</td>
                            {% else %}
                                <td style="padding: 5px">&nbsp;</td>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        {% endif %}
    </table>
    {% if footer is defined %}
        <div style="margin-top: 10px">
            {{ footer }}
        </div>
    {% endif %}
{% endblock %}